<% if flash[:notice] %>
  <div id='flash' class="error alert alert-danger" role="alert">
       <%= flash[:notice] %>
  </div>
<% end %>

<div class="jumbotron">
  <h1>Get Citi Bike Directions!</h1>
  <p class="lead text-primary">
    Enter a start and end location to get Citi Bike directions.
  </p>



    <form class="form-horizontal" action="/results" method="post">
      <fieldset>
        <div class="form-group">
          <label for="start" class="col-lg-2 control-label">Start Location:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="start" name="start">
          </div>
        </div>
        <div class="form-group">
          <label for="end" class="col-lg-2 control-label">End Location:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="end" name="end">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>


</div>





<div class="jumbotron">
  <h1>Find Stations Near You!</h1>
  <p class="lead text-primary">
    Enter a location to find nearby Citi Bike stations.
  </p>



<form class="form-horizontal" action="/search" method="post">
   <fieldset>
    <div class="form-group">
      <label for="location" class="col-lg-2 control-label">Location:</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="location" name="location">
    </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
   </fieldset>
</form>



</div>





























<!-- 

  <form action="/results" method="post">
      <label for="start">Enter Start Location</label>
      <input type="text" id="start" name="start">
      <label for="end">Enter End Location</label>
      <input type="text" id="end" name="end">
      <input type="submit" value="submit">
  </form> -->
