<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel li:before{
        
        padding: 3px;
        display:block;
        color:#fff;
        font-weight:bold;
      } 
      #panel li:nth-child(1):before{
        content:'startLeg:DRIVING';
        background:red;
      } 
      #panel li:nth-child(2):before{
        content:'middleLeg:TRANSIT';
        background:blue;
      } 
      #panel li:nth-child(3):before{
        content:'endLeg:BICYCLING';
        background:yellow;
        color:#000;
      } 
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    // sets a funtion called initialize 
  function initialize() {
    // sets two variables at once using the JS convention of using a comma to set multiple variables at once.  Similar to what you can do in Ruby but this is considered best practice (common convention) in JS.

    //sets 'goo' to the google.maps object 
    var goo = google.maps, 
    // sets map to a new instance of a google map and injects it into the div with an id="map-canvas"
        map = new goo.Map(document.getElementById('map-canvas'),
              {
                center  : new goo.LatLng(40.753597, -73.983233),
                zoom    : 12
              }
                                 ),
        App         = { map: map,
                        bounds: new goo.LatLngBounds(),
                        directionsService : new goo.DirectionsService(),    
                        directionsDisplay1: new goo.DirectionsRenderer({
                                              map             : map,
                                              preserveViewport: true,
                                              suppressMarkers : true,
                                              polylineOptions : {strokeColor:'red'},
                                              panel           : document.getElementById('panel').appendChild(document.createElement('li'))}),
                        directionsDisplay2: new goo.DirectionsRenderer({
                                              map             : map,
                                              preserveViewport: true,
                                              suppressMarkers : true,
                                              polylineOptions : {strokeColor:'blue'},
                                              panel           : document.getElementById('panel').appendChild(document.createElement('li'))}),
                        directionsDisplay3: new goo.DirectionsRenderer({
                                              map             : map,
                                              preserveViewport: true,
                                              suppressMarkers : true,
                                              polylineOptions : {strokeColor:'yellow'},
                                              panel           : document.getElementById('panel').appendChild(document.createElement('li'))
                                              })
              
            },
         startLeg   = {  origin     :  '11217',
                        destination :  '11 Broadway,ny',
                        travelMode  :  goo.TravelMode.Walking},        
         middleLeg  = {  origin     :  '11 Broadway,ny',
                        destination :  'Union Square, ny',
                        travelMode  :  goo.TravelMode.BICYCLING},        
         endLeg     = { origin      :  'Union Square, ny',
                        destination :  'Bryant Park, ny',
                        travelMode  :  goo.TravelMode.Walking};        
      
      App.directionsService.route(startLeg, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          App.directionsDisplay1.setDirections(result);
          App.map.fitBounds(App.bounds.union(result.routes[0].bounds));
        }
      }); 
      
      App.directionsService.route(middleLeg, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          App.directionsDisplay2.setDirections(result);
          App.map.fitBounds(App.bounds.union(result.routes[0].bounds));
        }
      });
      
      App.directionsService.route(endLeg, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          App.directionsDisplay3.setDirections(result);
          App.map.fitBounds(App.bounds.union(result.routes[0].bounds));
        }
      });
}


google.maps.event.addDomListener(window, 'load', initialize);




</script>
 
</head>
  <body>
    <div id="map-canvas"></div>
    <ol id="panel"></ol>
  </body>

</html>


