<h1>Stations by <%= @location.address %></h1>
<ol>
<% for station in @stations %>
  <li><a href="/stations/<%= station.id %>"><%= station.name %> -- <%= station.distance.round(2) %> miles</a></li>
<% end %>
</ol>