<% if @post && @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<form action='/posts' method="POST">
  <p>
    <label>Title</label>
    <input type="text" name="post[title]" value="<%= @post.title %>" />
  </p>

  <p>
    <label>Content</label>
    <textarea name="post[content]"><%= @post.content  %></textarea>
  </p>

  <button type="submit">Create Post</button>
</form>