<!DOCTYPE html>
<body>
    <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img style="max-width:50px; margin-top: -15px; padding-right: 10px; -webkit-filter: invert(100%);"
             src="bike.png">CitiBike Finder</a>
    </div>
  </div>
<%= yield %>
</body>

<div id="footer">
  <div class="container">
        <p class="muted credit" style="text-align:center">Created by <a href="https://github.com/kylefdoherty/citi-bike-search">Kyle Doherty</a> and <a href="https://github.com/amyrjohnson">Amy Johnson</a> at <a href="http://flatironschool.com/">The Flatiron School</a></p>
  </div>
</div>
 